@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    font-family: 'Arial', sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    outline:none; border:none;
    text-decoration:none;
}

html{
    font-size:60%;
    overflow-x:hidden;
}
html::-webkit-scrollbar{
    width:1rem;
}
html::-webkit-scrollbar-track{
    background-color:var(--primary-color);
}

html::-webkit-scrollbar-thumb{
    background-color:var(--primary-color);
}

section{
    padding:5rem 10%;
}
.heading-tittle{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
}

.header{
    position: sticky;
    top:0; left:0; right: 0;
    z-index: 1000;
    background-color: var(--primary-color);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;

    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size:2.5rem;
    color:var(--secondary-color);
}

.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color:var(--secondary-color);
}
.header .navbar a:hover{
    color:#BF9270;
}
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
    gap: 1.5rem;

}
.services .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background: pink;
    cursor: pointer;
}
.services .box-container .box:hover{
    background: hotpink;

}
.services .box-container .box img{
    height: 10rem;
    width: 10rem;
}

.services .box-container .box h3{
    font-size: 1.5rem;
    padding-top: 1rem;
    color: var(--primary-color);
}

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--secondary-color);
    display: none;
}
.footer{
    background:var(--primary-background) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap:3rem;


}
.footer .box-container .box h3{
    color:var(--primary-color);
    font-size: 2.5rem;
    padding-bottom: 2rem;

}

.footer .box-container .box a{
    color:var(--primary-color);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    display: block;

}
.footer .box-container .box a i{
    padding-right: .5rem;
    transition: .2s linear;
}
.footer .box-container .box a:hover i{
    color: #BF9270;
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid white;
    font-size: 2rem;
    color: var(--primary-color);
}
.footer .credit span{
    color:hotpink;
}
.main{

    display: flex;
    align-items: center;
    justify-content:space-evenly;

}
.andamain{
    clip-path: circle();
}
.andamain img{
    width: 400px;
}
.hello{
    font-size: 20px;
    color: var(--primary-hello-color);
}
.circles{
    display: flex;
    justify-content: space-around;


}
.circles .resume{
    background-color: #E3B7A0;
    height: 150px;
    width: 150px;
    border-radius: 50%;


}


.circles .resume a{
    position: absolute;
    width: inherit;
    height: auto;
    top: 57%;
    transform: translateY(-50%);
    text-align: center;
    font-weight: bold;
    color: var(--secondary-color);
}


.circles .projects{
    background-color: #604b3c;
    height: 150px;
    width: 150px;
    border-radius: 50%;

}

.circles .projects a{
    position: absolute;
    width: inherit;
    height: auto;
    top: 57%;
    transform: translateY(-50%);
    text-align: center;
    font-weight: bold;
    color: var(--secondary-color);
}
.circles .contact{
    background-color: #BF9270;
    height: 150px;
    width: 150px;
    border-radius: 50%;

}

.circles .contact a{
    position: absolute;
    width: inherit;
    height: auto;
    top: 57%;
    transform: translateY(-50%);
    text-align: center;
    color: var(--secondary-color);
    font-weight: bold;
}



.circles .resume:hover{
    background-color: var(--primary-color);

}
.circles .projects:hover{
    background-color: var(--primary-color);

}
.circles .contact:hover{
    background-color: var(--primary-color);
}

/*resume page css*/

.clearfix{
    clear: both;
}
.mainResume{
    margin:0px;
    padding: 0px;
    height: 50vh;
    height: 300px;
    width: 800px;
    background-color: var(--primary-color);
    box-shadow: 5px 7px 15px 5px #b9b6b6;
    margin: 20px auto;


}
.mainResume .head{
    color:#BF9270;
}
.mainResume h4 {
    color: #BF9270;
}

.top-section{
    background-color:#151b29;
    text-align: center;
    padding: 20px;
}
.profile{
    width: 150px;
    border-radius: 50%;
}
.col-div-4{
    width: 45%;
    float: left;

}
.col-div-8{
    width: 50%;
    float: left;
}
.line{
    border-left: 1px solid #c7c7c7;
    height: 220px;
    width: 2%;
    margin-top: 30px;
    float:left;
}
.content-box{
    padding: 20px;
}
.head{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.p3{
    color: #7b7b7b;
    margin-bottom: -5px;

}
.content-box p {
    color: var(--secondary-color);
}




/*resume page css*/
/*project page css*/
.mainproject{


    font-size: 10px;
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;}
 .mainproject .projectimg img{
    width: 491px;
    height: 331px;

}
 .projectname button{
margin-left: 150px;     background-color: #BF9270;
     padding: 8px;
     border-radius: 10px;
 }
 .mainproject .projectname{
line-height: 1.6em;
font-size: 16px;}

.mainproject .projectname p{
    pointer-events: auto;
}

/*project page css*/






.contactme .contact-form{
    padding: 2rem;
    background: #E3B7A0;
}
.contactme .contact-form .flex{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;

}
.contactme .contact-form .flex .inputBox{
    flex:1 1 41rem;
}

.contactme .contact-form .flex .inputBox span{
font-size: 2rem;
color: #FFEDDB;
}


.contactme .contact-form .flex .inputBox input {
    width:100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: #BF9270;
    text-transform: none;
    margin-top:1.5rem;

}

.contactme .contact-form .flex .inputBox textarea {
    width:100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: #BF9270;
    text-transform: none;
    margin-top:1.5rem;

}
.contactme .contact-form .flex .inputBox input:focus {
    background: #BF9270;
    color: #FFEDDB;

}.contactme .contact-form .flex .inputBox input:focus::placeholder {
    background:#FFEDDB ;
 }

.contactme .contact-form .flex .inputBox textarea:focus {
    background: #BF9270;
    color: #FFEDDB;

}.contactme .contact-form .flex .inputBox textarea:focus::placeholder {
     background:#FFEDDB ;
 }
.contactme .contact-form .btn{
    margin-top: 2rem;
    padding: 1rem 2rem;
    background: #BF9270;
    color: var(--primary-color);
    font-size: 2rem;
}


@media(max-width:1200px){
    section{
        padding:3rem 5%;
    }
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }
    section{
        padding:3rem 2rem;
    }
}

@media(max-width:768px) {
    #menu-btn{
        transition: .2s linear;
        display: inline-block;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);

    }
    .header .navbar{
        position:absolute;
        top:99%; left:0; right: 0;
        background-color: var(--primary-color);

        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);

    }
    .header .navbar.active{
        clip-path: polygon(0 0 ,100% 0,100% 100%,0 100%);

    }
    .header .navbar a {
        display: block;
        margin:2rem;
        text-align: center;
    }
}



@media(max-width:450px){
    html{
        font-size: 50%;
    }

}


.toggle-btn {
    display: inline-block;
    border: none;
    background: var(--darkTwo);
    color: var(--backgroundColor);
    outline: none;
    cursor: pointer;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    font-size: 1.1rem;
    transition: 0.3s;
}

.toggle-btn i {
    line-height: 39px;
}

.toggle-btn:hover {
    background: var(--mainColor);
}

.big-wrapper.light .toggle-btn i:last-child {
    display: none;
}

.big-wrapper.light .toggle-btn i:first-child {
    display: block;
}

.big-wrapper.dark .toggle-btn i:last-child {
    display: block;
}

.big-wrapper.dark .toggle-btn i:first-child {
    display: none;
}

.shape {
    position: absolute;
    z-index: 0;
    width: 500px;
    bottom: -180px;
    left: -15px;
    opacity: 0.1;
}

.copy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    animation: appear 1s 1 both;
}

@keyframes appear {
    0% {
        clip-path: circle(30% at -25% -25%);
    }
    100% {
        clip-path: circle(150% at 0 0);
    }
}


.light {
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1f8fc;
    --darkOne: #312f3a;
    --darkTwo: #45424b;
    --lightOne: #919191;
    --lightTwo: #aaa;
}

.dark {
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #192e3a;
    --darkOne: #f3f3f3;
    --darkTwo: #fff;
    --lightOne: #ccc;
    --lightTwo: #e7e3e3;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


#icon{
    width: 30px;
    cursor:pointer;
}
nav{flex: 1;
text-align: right;}
.all{
    background: var(--primary-resume-background) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

:root {
    --primary-color : #fff;
    --secondary-color:#212121;
    --primary-background: url("../images/footerb.png");
    --primary-hello-color:black;
    --primary-resume-background:url("../images/resumeback.png")


}
    .dark-theme{
        --primary-color:#000106;
    --secondary-color:#fff;
        --primary-background: url("../images/footerbdark.png");
        --primary-hello-color:#9b785e;
        --primary-resume-background:url("../images/resumebackdark.png")

    }
.main{
    background-color: var(--primary-color);
}